---
import type { CollectionEntry } from "astro:content";
import ProjectCard from "@/components/projects/ProjectCard.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---
<div class="grid-cards">
  {projects.map((project) => <ProjectCard project={project} />)}
</div>
