---
import ProductCard from "@/components/products/ProductCard.astro";
import type { ProductEntry } from "@/types/product";

interface Props {
  products: ProductEntry[];
  categoryLabels?: Record<string, string>;
}

const { products, categoryLabels = {} } = Astro.props;
---
<div class="grid-cards">
  {products.map((product) => <ProductCard product={product} categoryLabel={categoryLabels[product.data.category]} />)}
</div>
