PUBLIC_SITE_URL=https://www.industriasmmca.com
PUBLIC_WHATSAPP_NUMBER=584247011430
CONTACT_EMAIL=industriasmm1@gmail.com
CONTACT_FORM_RECIPIENT=industriasmm1@gmail.com
CLOUDINARY_CLOUD_NAME=df9taulat
CLOUDINARY_API_KEY=199175133926186
CLOUDINARY_API_SECRET=ZoHKoL6RTEShlcyM8JC0
