---
import Container from "@/components/ui/Container.astro";
import Navbar from "@/components/layout/Navbar.astro";
---
<header class="site-header">
  <Container>
    <div class="header-inner">
      <a class="brand" href="/">Industrias MM</a>
      <Navbar />
    </div>
  </Container>
</header>
